@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  background-color: #0a1f1c;
  color: #f4f7f2;
}

::selection {
  background-color: #c6f135;
  color: #0a1f1c;
}
